@import "normalize.css/normalize";
@import "variables";
@import "mixins";

html {
  background: #282c3f;
  font-family: system-ui;
  line-height: 1.5;
}

* {
  color: #a6accd;
}

h1 {
  font: 600 2.5rem/1.15 system-ui,helvetica,arial,sans-serif;
  margin: 0;
}

h2 {
  margin: 0;
}

.home__content {
  text-align: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__content p a {
  color: #66c5e6;
  text-decoration: underline;
  opacity: .75;
  transition: opacity .25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.header__link {
  text-decoration: none;
  transition: all 0.25s ease;

  &:hover {
    color: #66c5e6;
    opacity: 0.75;
  }
}

p .emoji {
  margin-bottom: 0;
}

.emoji {
  display: block;
  &.hello {
    font-size: 4rem;
    margin-bottom: 0;
  }

  &.rocket {
    margin-top: 2rem;

  }
}
